<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Customer</title>
    <style>
        .error{
        color: red
        }
    </style>
</head>
<body>
        <h2>Customer Registration</h2>
        <div>
            <form th:action="@{/customers/submit-customer}" th:object="${customer}" method="post">
                First Name:
                <input type="text" th:field="${customer.firstName}" placeholder="Enter First Name">
                <!--                Handling validation if there are some-->
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="${customer.firstName}" class="error"></span>
                <br> <br>
                Last Name:
                <input type="text" th:field="*{lastName}" placeholder="Enter Last Name">
                <br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
</body>
</html>